html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.app {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: white;
}

nav ul li {
  padding: 10px;
  border: solid 1px gray;
}

nav ul li a {
  color: rgb(83, 83, 83);
  text-decoration: none;
}

.current {
  border-bottom: 4px solid white;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  border: solid 1px black;
}

body {
  padding-top: 3em;
  background-color: rgb(255, 248, 255);
}